
.project
.settings/.jsdtscope
.settings/org.jboss.ide.eclipse.as.core.prefs
.tern-project
node_modules/.bin/create
node_modules/.bin/create.cmd
*.bin
*.lock
*.bin
platforms/android/.gradle/3.3/taskArtifacts/fileHashes.bin
*.bin
platforms/android/.gradle/3.3/taskArtifacts/fileHashes.bin
platforms/android/.gradle/3.3/taskArtifacts/fileSnapshots.bin
platforms/android/.gradle/3.3/taskArtifacts/taskArtifacts.lock
platforms/android/.gradle/3.3/taskArtifacts/fileSnapshots.bin
platforms/android/.gradle/3.3/taskArtifacts/fileHashes.bin
platforms/browser/build/package.zip
platforms/browser/build/package.zip
*.zip
platforms/browser/build/package.zip
debug.log
*.zip
platforms/browser/build/package.zip
